html {
    font-size: 20px
}

body {
    margin: 0;
    background-color: crimson;
    color: rgb(238, 220, 220);
}

.container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.header {
    font-size: 3rem;
    text-shadow: 1px 1px 5px indigo;
    margin-bottom: 3rem;
}

.solution {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

